KVmemnn/examples/WikiMovies/movieqa/knowledge_source/wiki.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/knowledge_source/wiki_urls.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/knowledge_source/wiki_ie.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/knowledge_source/entities.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/knowledge_source/wiki_entities/synthetic/movie_statements_entities=wiki-entities_templates=all_conj=0.0_coref=0.0.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/knowledge_source/wiki_entities/synthetic/movie_statements_entities=wiki-entities_templates=one_conj=0.0_coref=0.0.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/knowledge_source/wiki_entities/synthetic/movie_statements_entities=wiki-entities_templates=one_conj=0.0_coref=1.0.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/knowledge_source/wiki_entities/synthetic/movie_statements_entities=wiki-entities_templates=one_conj=0.7_coref=0.0.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/knowledge_source/wiki_entities/synthetic/movie_statements_entities=wiki-entities_templates=all_conj=0.5_coref=0.8.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/knowledge_source/wiki_entities/wiki_entities_kb.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/knowledge_source/full/synthetic/movie_statements_entities=full_templates=one_conj=0.7_coref=0.0.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/knowledge_source/full/synthetic/movie_statements_entities=full_templates=all_conj=0.5_coref=0.8.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/knowledge_source/full/synthetic/movie_statements_entities=full_templates=one_conj=0.0_coref=1.0.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/knowledge_source/full/synthetic/movie_statements_entities=full_templates=all_conj=0.0_coref=0.0.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/knowledge_source/full/synthetic/movie_statements_entities=full_templates=one_conj=0.0_coref=0.0.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/knowledge_source/full/full_kb.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_actor_to_movie_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_language_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_year_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_writer_to_movie_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_actors_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_director_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_tag_to_movie_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_director_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_language_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_tags_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_actors_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_imdbrating_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_writer_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_genre_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_actor_to_movie_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_imdbvotes_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_imdbrating_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_imdbvotes_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_director_to_movie_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_writer_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_director_to_movie_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_writer_to_movie_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_year_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_genre_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_movie_to_tags_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/categories/wiki-entities_qa_tag_to_movie_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/wiki-entities_qa_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/wiki-entities_qa_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/wiki_entities/wiki-entities_qa_train.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_actors_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_language_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_imdbvotes_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_tag_to_movie_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_year_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_imdbrating_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_director_to_movie_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_language_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_genre_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_tags_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_writer_to_movie_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_imdbvotes_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_year_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_writer_to_movie_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_actor_to_movie_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_tags_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_director_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_actor_to_movie_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_writer_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_director_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_imdbrating_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_actors_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_writer_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_tag_to_movie_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_movie_to_genre_test.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/categories/full_qa_director_to_movie_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/full_qa_dev.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/full_qa_train.txt filter=lfs diff=lfs merge=lfs -text
KVmemnn/examples/WikiMovies/movieqa/questions/full/full_qa_test.txt filter=lfs diff=lfs merge=lfs -text
